{% extends "base.html" %}
{% block head %}
    <style type="text/css">
        .info {
            position: fixed;
            width: 262.5px;
        }

        .info1 {
            position: fixed;
            right: 7px;
            left: 8px;
            top: 55px;
        }

        .fl {
            float: left;
        }

        .fr {
            float: right;
        }

        .logo-wrap {
            overflow: hidden;
            margin: 30px 0;
        }

        .logo-350 {
            width: 350px;
            height: 350px;
            margin-right: 30px;
        }

        .logo-200, .logo-200 img {
            width: 200px;
            height: 200px;
        }

        .logo-200 {
            margin-bottom: 30px;
        }

        .logo-200-wrap {
            width: 200px;
        }

        .logo-100, .logo-100 img {
            width: 100px;
            height: 100px;
        }

        .logo-60, .logo-60 img {
            width: 60px;
            height: 60px;
        }

        .logo-350, .logo-200, .logo-100, .logo-60 {
            border: 1px solid #ddd;
        }

        .logo-200, .logo-100, .logo-60 {
            overflow: hidden;
        }

        .btn-circle {
            width: 30px;
            height: 30px;
            text-align: center;
            padding: 6px 0;
            font-size: 12px;
            line-height: 1.428571429;
            border-radius: 15px;
        }

        .btn-circle.btn-lg {
            width: 50px;
            height: 50px;
            padding: 10px 16px;
            font-size: 18px;
            line-height: 1.33;
            border-radius: 25px;
        }

    </style>
    <link href="http://cdn.bootcss.com/jquery-jcrop/0.9.12/css/jquery.Jcrop.css" rel="stylesheet">
    <script type=text/javascript>
        $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
    </script>
    <script>
        $(function () {
            $.post($SCRIPT_ROOT + '/getinfo', {
                id:{{ current_user.id }}
            }, function (data, statu) {
                console.log(data.email);
                $('#e').text(data.email);
                $('#na').text(data.name);
                $('#add').text(data.address);
                $('#in').text(data.about_me);
                $('#da').text(data.time);
                $('#ava').attr('src', data.avatar)
            });
        });
        $(function () {
            $.post($SCRIPT_ROOT + '/getinfo', {
                id:{{ current_user.id }}
            }, function (data, statu) {
                console.log(data.email);
                $('#e1').text(data.email);
                $('#na1').text(data.name);
                $('#add1').text(data.address);
                $('#in1').text(data.about_me);
                $('#da1').text(data.time);
                $('#ava1').attr('src', data.avatar)
            });
        });
        $(function () {
            $('#b1').click(function () {
                window.location.href = $SCRIPT_ROOT + '/write'
            });
            $('#bu').click(function () {
                window.location.href = $SCRIPT_ROOT + '/write'
            });
            $('#b2').click(function () {
                window.location.href = $SCRIPT_ROOT + '/write'
            });
            $('#b3').click(function () {
                $.post($SCRIPT_ROOT + '/logout', {}, function (data, statu) {
                    if (data.result == "success") {
                        window.location.href = $SCRIPT_ROOT + '/login';
                    }
                });
            });
            $('#b4').click(function () {
                $.post($SCRIPT_ROOT + '/logout', {}, function (data, statu) {
                    if (data.result == "success") {
                        window.location.href = $SCRIPT_ROOT + '/login';
                    }
                });
            });
            $('.del').click(function () {
                id = this.getAttribute('blog');
                //console.log(id)
                $.post($SCRIPT_ROOT + '/delete', {
                    id: id
                }, function (data, statu) {
                    $('#' + id).remove()
                });
            });
            $('[aa=edit]').click(function () {
                id = this.getAttribute('blog');
                window.location.href = $SCRIPT_ROOT + '/edit/' + id
            });
            $('#infoinput').click(function () {
                var formData = new FormData();
                formData.append('name', $('#name').val());
                formData.append('address', $('#address').val());
                formData.append('about_me', $('#about_me').val());
                $.ajax({
                    url: $SCRIPT_ROOT + '/upload',
                    type: 'POST',
                    cache: false,
                    data: formData,
                    processData: false,
                    contentType: false
                }).done(function (res, statu) {
                    $("#myModal").modal("hide");
                    window.location.reload();
                })
            })
        })
    </script>
{% endblock %}
{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-9 visible-md visible-lg">
                {% for post in posts %}
                    <div class="well" id="{{ post.id }}" style="height: 335px;background-color: #fff">
                        <h1>{{ post.title }}</h1>
                        <div style="height: 200px">
                            <div style="font-size: 18px;padding-top: 40px;">{{ post.txt|safe }}</div>
                        </div>
                        <div>
                            <div class="container">
                                <div class="row">
                                    <div class="col-md-3">
                                        <a class="btn btn-primary btn-xs"
                                           href="/blog/{{ post.id }}"
                                           role="button"
                                           target="_blank" style="position: relative;top: -280px;left: 765px;">全部</a>
                                        <button type="button" class="btn btn-success btn-xs" aa="edit"
                                                style="position: relative;top: -250px;left: 725px;"
                                                blog="{{ post.id }}">编辑
                                        </button>
                                        <button class="btn btn-danger btn-xs del" type="button" blog="{{ post.id }}"
                                                style="position: relative;top: -220px;left: 685px;">
                                            删除
                                        </button>
                                    </div>
                                    <div class="col-md-5"
                                         style="font-size: xx-small;position: relative;top: 20px;left: 405px;">
                                        创建于:{{ timestamp[loop.index0] }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
                {% if len == 0 %}
                    <div class="well">
                        还没有写过博客哦
                    </div>
                {% endif %}
            </div>
            <div class="col-md=9 visible-xs visible-sm" style="padding-top: 70px">
                {% for post in posts %}
                    <div class="well" id="{{ post.id }}" style="background-color: #fff">
                        <h3>{{ post.title }}</h3>
                        <small>创建于:{{ timestamp[loop.index0] }}</small>
                        <div style="">
                            <div style="font-size: 18px;padding-top: 10px;padding-bottom: 8px">{{ post.txt|safe }}</div>
                        </div>
                        <div>
                            <a class="btn btn-primary btn-xs"
                               href="/blog/{{ post.id }}"
                               role="button"
                               target="_blank" style="">全部</a>
                            <button type="button" class="btn btn-success btn-xs" aa="edit"
                                    style=""
                                    blog="{{ post.id }}">编辑
                            </button>
                            <button class="btn btn-danger btn-xs del" type="button" blog="{{ post.id }}"
                                    style="">
                                删除
                            </button>
                        </div>
                    </div>
                {% endfor %}
                {% if len == 0 %}
                    <div class="well">
                        还没有写过博客哦
                    </div>
                {% endif %}
            </div>
            <div class="col-md-3 visible-md visible-lg">
                <div class="panel panel-default info">
                    <div class="panel-body">
                        <div class="media">
                            <div class="media-left">
                                <a data-toggle="modal" data-target="#avatar_modal">
                                    <img class="media-object img-rounded" src="http://localhost:5000/static/wait.gif"
                                         alt=""
                                         style="width: 66px" id="ava">
                                </a>
                            </div>
                            <div class="media-body">
                                <h4 class="media-heading" id="na"></h4>
                                <h4 class="media-heading">
                                    <small id="e"></small>
                                </h4>
                            </div>
                            <ul class="list-inline">
                                <li>
                                    <small><strong>个人简介：</strong></small>
                                </li>
                                <li>
                                    <small id="in"></small>
                                </li>
                            </ul>
                            <ul class="list-inline">
                                <li>
                                    <small><strong>地址：</strong></small>
                                </li>
                                <li>
                                    <small id="add"></small>
                                </li>
                            </ul>
                            <ul class="list-inline">
                                <li>
                                    <small><strong>注册日期：</strong></small>
                                </li>
                                <li>
                                    <small id="da"></small>
                                </li>
                            </ul>
                        </div>
                        <button type="button" class="btn btn-primary btn-sm btn-block" id="b1">写博客</button>
                        <button type="button" class="btn btn-success btn-sm btn-block" data-toggle="modal"
                                data-target="#myModal">
                            编辑资料
                        </button>
                        <button type="button" class="btn btn-danger btn-sm btn-block" id="b3">注销</button>
                    </div>
                </div>
            </div>
            <div class="col-md-3 visible-xs visible-sm">
                <div class="panel panel-default info1">
                    <div class="panel-body">
                        <div class="container">
                            <div class="row">
                                <div class="col-xs-8">
                                    <div class="media">
                                        <div class="media-left">
                                            <a data-toggle="modal" data-target="#avatar_modal">
                                                <img class="media-object img-rounded"
                                                     src="http://localhost:5000/static/wait.gif"
                                                     alt=""
                                                     style="width: 45px" id="ava1">
                                            </a>
                                        </div>
                                        <div class="media-body">
                                            <h4 class="media-heading" id="na1"></h4>
                                            <h4 class="media-heading">
                                                <small id="e1"></small>
                                            </h4>
                                            {#                                            <small id="in1"></small>#}
                                        </div>
                                        </ul>
                                    </div>
                                </div>
                                <div class="col-xs-4">
                                    <button type="button" class="btn btn-success btn-xs btn-block" data-toggle="modal"
                                            data-target="#myModal">
                                        编辑资料
                                    </button>
                                    <button type="button" class="btn btn-danger btn-xs btn-block" id="b4">注销</button>
                                </div>
                            </div>
                        </div>
                        <button type="button" class="btn btn-primary btn-circle btn-lg" id="bu"
                                style="position: fixed;bottom:20px;right:15px;"><i class="glyphicon glyphicon-plus"></i>
                        </button>
                        {#                        <button type="button" class="btn btn-primary btn-sm btn-block" id="b1">写博客</button>#}
                        {#                        <button type="button" class="btn btn-success btn-sm btn-block" data-toggle="modal"#}
                        {#                                data-target="#myModal">#}
                        {#                            编辑资料#}
                        {#                        </button>#}
                        {#                        <button type="button" class="btn btn-danger btn-sm btn-block" id="b3">注销</button>#}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">编辑资料</h4>
                </div>
                <div class="modal-body">
                    <form enctype="multipart/form-data" id="infoform">
                        <div class="form-group">
                            <input type="text" class="form-control input-lg" id="name" placeholder="姓名">
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control input-lg" id="address" placeholder="地址">
                        </div>
                        <div class="form-group">
                            <textarea class="form-control input-lg" id="about_me" placeholder="个人简介"
                                      rows="10"></textarea>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                    <button type="button" class="btn btn-primary" id="infoinput">提交</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="avatar_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document" style="width: 800px">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">修改头像</h4>
                </div>
                <div class="modal-body">
                    <input type="file" value="上传文件" id="file">
                    <div class="logo-wrap">
                        <div class="fl logo-350">
                            <div class="content"></div>
                        </div>
                        <div class="fl logo-200-wrap">
                            <div class="logo-200">
                                <div class="content"></div>
                            </div>
                            <div>
                                <div class="fl logo-100">
                                    <div class="content"></div>
                                </div>
                                <div class="fr logo-60">
                                    <div class="content"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                    <button type="button" class="btn btn-primary" id="avatar_submit">提交</button>
                </div>
            </div>
        </div>
    </div>
    <script src="http://cdn.bootcss.com/jquery-jcrop/0.9.12/js/jquery.Jcrop.min.js"></script>
    <script src="/static/js/jquery.uploadPreview.js"></script>
    <script>
        $("#file").uploadPreview({
            width: 350,
            height: 350,
            imgDiv: '.logo-350 .content',
            anyTarget: '.logo-200 .content, .logo-100 .content, .logo-60 .content',
            maxSize: 1024 * 2,
            callback: function (el) {
                var jOption = {
                    setSelect: [75, 75, 275, 275],
                    minSize: [200, 200],
                    onChange: updatePreview,
                    onSelect: updatePreview,
                    aspectRatio: 1
                };

                var isIE = navigator.appName == 'Microsoft Internet Explorer',
                    brVersion = navigator.appVersion, version;
                isIE && (version = brVersion.split(';')[1].replace(/MSIE[ ]/g, '').replace('.0', ''));

                if (isIE && version < 10) {
                    var api = $.Jcrop(el.selector, jOption);
                } else {
                    el.Jcrop(jOption);
                }

            }
        });
        function updatePreview(c) {
            if (parseInt(c.w) > 0) {

                $selectw = parseInt(c.w);  //选框宽度
                $selecth = parseInt(c.h);   //选框高度
                $selectx = parseInt(c.x);   //选框起点x坐标
                $selecty = parseInt(c.y);   //选框起点y坐标
                $('.logo-200, .logo-100, .logo-60').each(function (index, el) {
                    var box = $(el), content = box.find('.content'), img = content.find('img');

                    var w = $('.logo-350 img').outerWidth(),
                        h = $('.logo-350 img').outerHeight();

                    content.width(w).height(h);

                    var rx = box.width() / c.w,
                        ry = box.height() / c.h;

                    img.css({
                        width: Math.round(rx * w) + 'px',
                        height: Math.round(ry * h) + 'px',
                        marginLeft: '-' + Math.round(rx * c.x) + 'px',
                        marginTop: '-' + Math.round(ry * c.y) + 'px'
                    });
                });
            }
        }
        $(function () {
            $('#avatar_submit').click(function () {
                    var formData = new FormData();
                    formData.append('avatar', $('#file')[0].files[0]);
                    formData.append('w', $selectw);
                    formData.append('h', $selecth);
                    formData.append('x', $selectx);
                    formData.append('y', $selecty);
                    $.ajax({
                        url: $SCRIPT_ROOT + '/upload_avatar',
                        type: 'POST',
                        cache: false,
                        data: formData,
                        processData: false,
                        contentType: false
                    }).done(function (res, statu) {
                        $("#avatar_modal").modal("hide");
                        window.location.reload();
                    })
                }
            );
        })
    </script>
{% endblock %}