{% extends "base.html" %}
{% block head %}
    <style type="text/css">
        .info {
            position: fixed;
            width: 262.5px;
        }

    </style>
    <script>
        $(function () {
            $.post($SCRIPT_ROOT + '/getinfo', {
                id:{{ author.id }}
            }, function (data, statu) {
                console.log(data.email);
                $('#e').text(data.email);
                $('#na').text(data.name);
                $('#na').attr('href','http://localhost:5000/user/'+data.email);
                $('#add').text(data.address);
                $('#in').text(data.about_me);
                $('#da').text(data.time);
                $('#ava').attr('src', data.avatar);
                $('#ava').attr('href','http://localhost:5000/user/'+data.email)
            });
        });
    </script>
{% endblock %}
{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-9">
                <div class="panel panel-default">
                    <div class="panel-heading">{{ blog.title }}</div>
                    <div class="panel-body">{{ blog.body |safe }}</div>
                    <div class="panel-footer"><span style="font-size: xx-small;">创建于 {{ timestamp }}</span></div>
                </div>
                <div id="disqus_thread"></div>
                <script>
                    /**
                     *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
                     *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/
                    /*
                     var disqus_config = function () {
                     this.page.url = PAGE_URL;  // Replace PAGE_URL with your page's canonical URL variable
                     this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
                     };
                     */
                    var disqus_config = function () {
                        // The generated payload which authenticates users with Disqus
                        this.page.remote_auth_s3 = '{{ message }} {{ sig }} {{ t }}';
                        this.page.api_key = '{{ key }}';
                    };
                    (function () { // DON'T EDIT BELOW THIS LINE
                        var d = document, s = d.createElement('script');
                        s.src = '//suarezlin-blog.disqus.com/embed.js';
                        s.setAttribute('data-timestamp', +new Date());
                        (d.head || d.body).appendChild(s);
                    })();
                </script>
                <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments
                    powered by Disqus.</a></noscript>
            </div>
            <div class="col-md-3 hidden-xs">
                <div class="panel panel-default info">
                    <div class="panel-body">
                        <div class="media">
                            <div class="media-left">
                                <a href="" id="pic">
                                    <img class="media-object img-rounded" src="/static/wait.gif"
                                         alt=""
                                         style="width: 66px" id="ava">
                                </a>
                            </div>
                            <div class="media-body">
                                <h4 class="media-heading"><a href="" id="na"></a></h4>
                                <h4 class="media-heading">
                                    <small id="e"></small>
                                </h4>
                            </div>
                            <ul class="list-inline">
                                <li>
                                    <small><strong>个人简介：</strong></small>
                                </li>
                                <li>
                                    <small id="in"></small>
                                </li>
                            </ul>
                            <ul class="list-inline">
                                <li>
                                    <small><strong>地址：</strong></small>
                                </li>
                                <li>
                                    <small id="add"></small>
                                </li>
                            </ul>
                            <ul class="list-inline">
                                <li>
                                    <small><strong>注册日期：</strong></small>
                                </li>
                                <li>
                                    <small id="da"></small>
                                </li>
                            </ul>
                            <br><br>
                        </div>
                        <button type="button" class="btn btn-primary btn-block" id="b1" blog="{{ blog.id }}">点赞
                        </button>
                        <button type="button" class="btn btn-success btn-block" id="b2" blog="{{ blog.id }}">收藏
                        </button>
                    </div>
                </div>
            </div>
            <div class="col-md-3 visible-xs">
                <div class="panel panel-default">
                    <div class="panel-body text-center">{{ author.email }}</div>
                    <button type="button" class="btn btn-success btn-block" id="b1" blog="{{ blog.id }}">点赞
                    </button>
                    <button type="button" class="btn btn-danger btn-block" id="b2" blog="{{ blog.id }}">点赞
                    </button>
                </div>
            </div>
        </div>
    </div>
    <script id="dsq-count-scr" src="//suarezlin-blog.disqus.com/count.js" async></script>
{% endblock %}